nav {
  position: fixed;
  height: 120px;
  width: 100vw;
  background-color: transparent;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;  
}

.nav-logo {
  font-family: "Bungee", Helvetica, sans-serif;
  font-size: 60px;
}

.nav-tweet-and-arrow {
  color: tomato;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-new-tweet {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#arrows {
  background-color: transparent;
  border-style: none;
  color: tomato;
  display: flex;
  justify-content: flex-start;


}

i.fa-angles-down:hover {
  color: gold;
  text-shadow: 2px 2px 1px lightsteelblue;
}

@media only screen and (min-width: 1024px) {

  nav{
    background-color: #4056a1;
  }
}