
div.tweet-form-layout {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  margin-bottom: 0.5em;  
  display: flex;
}



#tweet-composer {
  background-color: #f4f1ec;
  width: 100%;
  border: none;
  outline: none;
  font-weight: 600;
  padding-bottom: 0.2em;
  
  
}

div.tweet-form-bottom {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", Helvetica, sans-serif;
  padding-bottom: 1.5em;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #545149;

}

.negative-count {
  color: red;
}

#tweet-button {
  background-color: #4056a1;
  color: white;
}

#tweet-button:hover {
  box-shadow: 4px 4px 2px lightsteelblue;
}