
div.tweet-form-layout {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  margin-bottom: 0.5em;  
  display: flex;
}

section.new-tweet h2 {
  margin-bottom: 1em;
}

#tweet-composer {
  margin-top: 0.5em;
  background-color: #f4f1ec;
  height: 60px;
  width: 100%;
  border: none;
  outline: none;
  font-weight: 600;
  padding-bottom: 0.2em;
  
  
}

div.tweet-form-bottom {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", Helvetica, sans-serif;
  padding-bottom: 1.5em;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #545149;

}

.negative-count {
  color: red;
}

#tweet-button {
  background-color: #4056a1;
  color: white;
}

#tweet-button:hover {
  box-shadow: 4px 4px 2px lightsteelblue;
}

#form-error {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: red;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-color: red;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* #form-error {
  padding: 0.5em;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: red;
  font-weight: bold;
  display: none;
} */