header.tweet-container {
  font-size: large;
  height: 70px;
  background-color: #f4f1ec;
  color: #545149;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

header.tweet-container div {
  display: flex;
  align-items: center;
  justify-content: center;

}

header.tweet-container img {
  height: 50px;
  padding-right: 10px;
}

section.tweet-container {
  padding: 1em;

}

article.tweet-container {
  border-width: 4px;
  border-style: solid;
  padding: 1em;
  margin-bottom: 20px;
}

article.tweet-container:hover {
  box-shadow: 6px 6px 3px lightsteelblue;
  border-width: 4px;
  border-style: solid;
  padding: 1em;

}

p.tweet-container {
  margin-block-end: 12px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  padding: 0.7em;
  font-weight: bold;
}

footer.tweet-container {
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-size: small;
  font-weight: bold;
  margin-bottom: 0.5em;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span.tweet-container {
  color: #4056a1;
  padding: 0.1em;
  width: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span i:hover {
  color: tomato;
}